In [26]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.38.0)
Requirement already satisfied: urllib3<3.0,>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (2.5.0)
Requirement already satisfied: trio<1.0,>=0.31.0 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.32.0)
Requirement already satisfied: trio-websocket<1.0,>=0.12.2 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2025.10.5 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2025.11.12)
Requirement already satisfied: typing_extensions<5.0,>=4.15.0 in c:\programdata\anaconda3\lib\site-packages (from selenium) (4.15.0)
Requirement already satisfied: websocket-client<2.0,>=1.8.0 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (24.3.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (3.7)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\programdata\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.17.1)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket<1.0,>=0.12.2->selenium) (1.3.2)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio<1.0,>=0.31.0->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.16.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket<1.0,>=0.12.2->selenium) (0.16.0)

In [27]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [28]:
# Noukari.com

In [29]:
driver=webdriver.Chrome()

In [30]:
driver.get('https://www.naukri.com/')

In [31]:
destignation = driver.find_element(By.CLASS_NAME,"suggestor-input")
destignation.send_keys("Data Analyst")

In [32]:
locations = driver.find_elements(By.CLASS_NAME,"suggestor-input")
locations[1].send_keys("Mumbai")

In [33]:
search = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [34]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [41]:
title_tags = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/h2/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title=job_title[0:15]
print(job_title)
len(job_title)

['Sustainability Data Analyst - TR Foundation', 'KYC Client Data Analyst', 'Data Engineer', 'Senior Data Analyst', 'Data Analyst', 'Analyst - Data Governance', 'Data Analysts', 'Data Analyst', 'Data Analyst', 'Looking For immediate joiners - Lab Data Analyst-Python Programming', 'Data Analyst', 'Credit Data Analyst', 'Data Analyst', 'Data Analyst', 'Senior Data Analyst']

15

In [42]:
location_tags = driver.find_elements(By.CLASS_NAME,'locWdth')
for i in location_tags:
    title=i.text
    job_location.append(title)
job_location=job_location[0:15]
print(job_location)
len(job_location)

['Mumbai, Bandra, Kursela', 'Mumbai, Kolkata, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Mumbai, Pune', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai (All Areas)(Andheri MIDC)', 'Mumbai', 'Mumbai', 'Hybrid - Mumbai (All Areas), Pune, Bengaluru', 'Mumbai (All Areas)', 'Mumbai', 'Mumbai', 'Mumbai', 'Mumbai, Kolkata, New Delhi, Hyderabad, Pune, Chennai, Bengaluru']

15

In [43]:
company_name_tags= driver.find_elements(By.XPATH,'//div/span/a[@class=" comp-name mw-25"]')
for i in company_name_tags:
    title=i.text
    company_name.append(title)
company_name=company_name[0:15]
print(company_name)
len(company_name)

['Thomson Reuters', 'JPMorgan Chase Bank', 'Crisil', 'Abbott', 'Hansa Customer Equity Pvt. Ltd.', 'Nomura', 'MALABAR GOLD & DIAMONDS', 'Myglamm', 'Xpheno', 'IQVIA', 'KGK Group', 'ION', 'Persistent', 'Mondelez', 'Capco']

15

In [44]:
experience_required_tags = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_required_tags:
    title=i.text
    experience_required.append(title)
experience_required=experience_required[0:15]
print(experience_required)
len(experience_required)

['2-4 Yrs', '2-5 Yrs', '3-8 Yrs', '1-6 Yrs', '2-3 Yrs', '0-4 Yrs', '2-4 Yrs', '2-4 Yrs', '4-8 Yrs', '2-5 Yrs', '3-8 Yrs', '2-7 Yrs', '4-7 Yrs', '7-12 Yrs', '4-8 Yrs']

15

In [45]:
df=pd.DataFrame({"Job Title":job_title,"Job location":job_location,"Company Name":company_name,"experience_required":experience_required})
df

,Job Title,Job location,Company Name,experience_required
0,Sustainability Data Analyst - TR Foundation,"Mumbai, Bandra, Kursela",Thomson Reuters,2-4 Yrs
1,KYC Client Data Analyst,"Mumbai, Kolkata, New Delhi, Hyderabad, Pune, C...",JPMorgan Chase Bank,2-5 Yrs
2,Data Engineer,"Mumbai, Pune",Crisil,3-8 Yrs
3,Senior Data Analyst,Mumbai,Abbott,1-6 Yrs
4,Data Analyst,Mumbai,Hansa Customer Equity Pvt. Ltd.,2-3 Yrs
5,Analyst - Data Governance,Mumbai,Nomura,0-4 Yrs
6,Data Analysts,Mumbai (All Areas)(Andheri MIDC),MALABAR GOLD & DIAMONDS,2-4 Yrs
7,Data Analyst,Mumbai,Myglamm,2-4 Yrs
8,Data Analyst,Mumbai,Xpheno,4-8 Yrs
9,Looking For immediate joiners - Lab Data Analy...,"Hybrid - Mumbai (All Areas), Pune, Bengaluru",IQVIA,2-5 Yrs
10,Data Analyst,Mumbai (All Areas),KGK Group,3-8 Yrs
11,Credit Data Analyst,Mumbai,ION,2-7 Yrs
12,Data Analyst,Mumbai,Persistent,4-7 Yrs
13,Data Analyst,Mumbai,Mondelez,7-12 Yrs
14,Senior Data Analyst,"Mumbai, Kolkata, New Delhi, Hyderabad, Pune, C...",Capco,4-8 Yrs

In [52]:
df.to_excel("Naukri_Web_Scraping.xlsx")